<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <div th:insert="~{public :: head}"></div>
</head>
<body>
<div th:insert="~{nav :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="media" th:each="question:${questions}">
                <!--<div class="media-left">-->
                    <!--<a href="#">-->
                        <!--<img class="media-object" th:src="${question.user.avatarUrl}">-->
                    <!--</a>-->
                <!--</div>-->
                <div class="media-body">
                    <h4 class="media-heading"th:text="${question.title}">怎么快速学习日语</h4>
                    <span th:text="${question.description}"></span><br>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span>个回复 <span th:text="${question.readCount}"></span>次浏览 <span th:text="${#dates.format(question.gmtCreate,'yyyy MMMM dd')}"></span></span>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
           <div class="list-group section">
               <a href="/profile/questions" class="list-group-item" th:classappend="${section =='questions'}?'active':''">我的问题</a>
               <a href="/profile/replies" class="list-group-item" th:classappend="${section =='replies'}?'active':''"><span class="badge">15</span>最新回复</a>
           </div>

        </div>
    </div>
</div>

</body>
</html>